.wrapper-signup {
  display: none;
  position: absolute;
  width: 630px;
  height: 630px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.slider-signup-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 630px;
  /* background-color: rgba(44, 27, 71, 0.2); */
  background-color: rgba(255, 255, 255, 0.3);
  animation: slideRightToLeft 1.7s forwards, fadeIn 1.7s forwards;
}
@keyframes slideRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icons {
  width: 50px;
  height: 50px;
}

.slider-signup-left .card1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.slider-signup-left .card2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}

.slider-signup-left .card3 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-135deg);
}

.slider-signup-left .card4 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(135deg);
}

.center-group {
  /* width: 200px;
  height: 200px; */
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(3, minmax(50px, 1fr));
}
.machine {
  animation: machine 0.65s ease infinite;
}

@keyframes machine {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 55px;
    height: 55px;
  }
}

.die {
  animation: die 0.68s ease infinite;
}

@keyframes die {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 45px;
    height: 45px;
  }
}
.card {
  animation: card 4s linear infinite;
  transform-origin: center center;
}
@keyframes card {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divThreeStage {
  width: 315px;
  height: 630px;
  background-color: red;
}
.threeStage {
  width: 100%;
  height: 35px;
  background-color: black;
}
